*{
    margin: 0;
    padding: 0;

}


#navigation{
    background-image: linear-gradient(dodgerblue, rgb(3, 106, 209));
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navigation > ul > li{
    list-style: none;
    margin: 0px 5px;
    margin-left: -5px;
    padding: 15px 0px;



}

#navigation > ul > li > a{

    text-decoration: none;
    color: white;
    font-size: 18px;
    border-right: 1px solid white;
    padding: 16px 20px;
    transition: 0.5s;
}

#navigation > ul > li:first-child > a{
    border-left: 1px solid white;
   padding-left: 10px;
}

#navigation > ul > li:hover > a {
        background-color: rgb(83, 126, 168);

}

#navigation > ul {
    display: flex;
    margin-right: 50px;

}
.logo > h2{

    color: white;
    margin-left: 15px;

}

/* dropdown menu code start */

.dropdown-menu{
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    background-color: dodgerblue;
    text-align: center;
    margin-top: 15px;
    width: 190px;
    position: absolute;
    transition: 0.5s;
    transform: scaleY(0);
    transform-origin:top center ;
    box-shadow: 10px 10px 8px black;
    
}

.dropdown-menu > li{
    list-style: none;
    padding: 10px 0px;
    border-bottom: 1px solid white;
}

.dropdown-menu > li:hover{
    background-color:rgb(83, 126, 168);
}

.dropdown-menu > li:first-child{
    border-top: 1px solid white;
}

.dropdown-menu > li > a {
    text-decoration: none;
    color: white;
    
}

#navigation > ul > li:hover > ul {
    /* display: block; */
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
}


/* hero area start hare */

#main-header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.158),rgba(0, 0, 0, 0.151)), url("img/web\ header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 90vh;

}

.hero-area{
    padding-top: 100px;
}

.hero-area > h1{
    margin:20px auto;
    width: 500px;
    background-color: rgba(10, 82, 153, 0.425);
    font-size: 50px;
    color: white;
    /* margin-top: 20px 2;
    margin-bottom: 20px 0; */
    padding: 15px 15px;
    border-radius: 10px;

}

.hero-area > button{
    font-size: 22px;
    padding: 15px 25px;
    margin: 20px ;
    background-color: rgba(5, 100, 194, 0.562);
    border-radius: 30px 10px 30px 10px;
    border: 3px solid rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.5s;
    color: aliceblue;


}

.hero-area > button:hover{
    background-color: rgba(7, 7, 7, 0.411);


}
.hero-area > h4 {
    font-size: 25px;
    color:#2e2424;

}
.hero-area > h5 {
    color: #2e2424;
    font-size: 25px ;
    margin-bottom: 50px;


}

.socialaicon > a{
    color: white;
    text-decoration: none;
    
}

.socialaicon > a > i{
    width: 50px;
    height: 50px;
    line-height: 1.6;
    margin: 10px 5px;
    font-size: 30px;
    background-color: rgba(0, 128, 0, 0);
    padding: 5px;
    border: 2px solid white;
    border-radius: 50%;
    transition: 0.5s;
    
}

.socialaicon > a > i:hover{
    background-color:rgba(5, 100, 194, 0.562);
    border: 2px solid rgb(240, 8, 201);
    transform: rotate(360deg);


}


/* first-container code start hare  */


#first-container{

    width: 1000px;
    margin: auto;
    /* border: 5px solid red ; */
    display: flex;
    justify-content: space-between;
    padding: 100px 0;


}

.first-section{
    width: 300px;
    /* border: 2px solid black; */
    text-align: center;
    padding: 30px 10px;
    transition: 0.5s;
}
.first-section > i {
    font-size: 50px;
}
.first-section > h2 {
    margin: 15px 0;

}

.first-section:hover{
    box-shadow: 3px 3px 10px gray;
}

#first-section-id{
    background-color: rgba(207, 199, 189, 0.219);


}

/* second section code hare  */

.smart-titel{
    width: 250px;
    margin: auto;
    position: relative;
}

.smart-titel > h2{
    font-size: 40px;
    text-align: center;
    margin-top: 50px;

}
.smart-titel > h2::after {
    content: '';
    position: absolute;
    width: 120px;
    height: 5px;
    background-color: red;
    top: 57px;
    left: 76.8px;
    border-radius: 3px;
}


.smart-area{
        width: 1000px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between ;
        padding: 50px 0;

}



.smart-area-text{
        width: 500px;

}

.smart-area-text > h2 {
    margin: 20px 0;
    color: red;
}
.smart-area-text > a {
    text-decoration: none;
    background-color: red;
    color: white;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 5px;
    margin: 20px 0;
    display: inline-block;
    transition: 0.5s;
   
}

.smart-area-text > a:hover{

            background-color: rgb(32, 7, 7);
}



/* Third services area  */

#third-section{
            background-color: #fafafa;

}

.Services-titel-area{
    text-align: center;
    padding: 40px 0 60px 0 ;
    
}

.smart-area-text > h2 {
    font-size: 40px;
    
}


.each-services-parints{

            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap: 20px;
            padding-bottom: 60px;

}

.Services-area{
    width: 1000px;
    margin: auto;
}

.each-services{

                background-color: lightblue;
                text-align: center;
                padding: 30px 0;
                transition: 0.5s;


}

.each-services > i{

                font-size: 40px;
                color: #770f0f;

}
.each-services > h3 {
    margin: 15px 0;
}

.each-services:hover {
    background-color: #deec10;
}



/* pricing-area-container  */



.pricing-titel{
    text-align: center;
    font-size: 35px;
    padding: 50px 0;

}

.pricing-area-container{
    display: flex;
    justify-content: space-between;
    


}


.single-card-img{

            width: 300px;
            


}

.single-card-img > img {

            width: 100%;
}

.single-card{

    width: 310px;
    text-align: center;
    box-shadow: 5px 3px 10px gray;
    



}

.pricing-area-pranth{

    width: 1000px;
    margin: auto;
    padding-bottom: 100px;
}
#four-section{

    background-color: whitesmoke;

}
.single-card > h3 {
    margin: 10px 0;
    font-size: 25;
}

.single-card  >h3{
    margin-top: 10px 0;
    font-size: 25px;

}

.month-pricing{

    border-top: 1px dashed gray ;
    border-bottom: 1px dashed gray;
    padding: 10px 0;
    margin: 15px 20px  ;
}

.month-pricing > .month-pricing-span1{

    font-size: 25px;

}

.month-pricing > .month-pricing-span2 {

                color: gray;
}

.single-card > button {

    background-color: red ;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.single-card > button:hover{
    background-color: rgba(0, 0, 0, 0);
    color: black;
}

.single-card > a{
    text-decoration: none;
    margin: 15px 0;
    display: inline-block;
}







 /* Testimonial Start Haer  */


#fiver-section{

    background-color: mistyrose;
}


 .testomonial-container{
    width: 1000px;
    border: 2px solid red;
    margin: auto;
    padding-bottom: 100px;
 }




.testimonial-titel{

                text-align: center;
                padding: 50px 0;

}

.testimonial-titel  h2{

            font-size: 35px;
            margin-bottom: 10px;
}

.testimonial-titel h4 {

    color: gray;
    letter-spacing: 0.3em ;
}


.testomonial-singel-parents{


                display: grid;
                grid-template-columns: repeat(2,1fr);
                grid-gap: 25px;


}

.testo-singleCird{

    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;


}

.test-img-div{
    width: 200px;
    
    padding: 10px 5px;
    border-radius: 50%;
    margin-right: 20px ;
}

.test-img-div img{

            width: 100%;
            border-radius: 50%;
            border: 2px solid red;

}

.testo-span{
    font-size: 20px;
    display: inline-block;
    margin-bottom: 10px;
}

.testo-rating{

            color:#FF9900 ;
            margin-top: 10px;

}



/* Paraliax-items start haer  */


#Paraliax-section{

            background-image: url("img/parallax.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
            padding: 80px 0;
           

}

.Paraliax-items-prants{
            display: flex;
            justify-content: space-between;
            width: 1000px;
            margin: auto;
            text-align: center;
            color: white;
            
}

.paraliax-singil-items i {

                    font-size: 40px;
                   



}

.paraliax-singil-items h2 {

    font-size: 40px;
    margin: 20px 0;
}

/* .blog section code haer  */

.blog-containar{
    width: 1000px;
    margin: auto;
    padding-bottom: 100px;
}


.blog-item-parents{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 25px;
}



.blog-imge{

    max-width: 100%;
    height: 250px;
    transition: 0.5s ;
}


.blog-icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    text-align: center;
    color: white;
    font-size: 22px;
    opacity: 0;
    transition: 0.5s;
}

.blog-item-img-div:hover .blog-icon{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.336);
}

.blog-item-img-div{
    position: relative;
    overflow: hidden;

}


.blog-item-img-div:hover .blog-imge{
    transform: scale(1.6);
}

.blog-icon i {
    font-size: 40px;
    margin-bottom: 20px;
}

.single-item-text{
    text-align: center;
    margin: 10px 0;
}
.single-item-text p {
    margin-top: 10px;
    color: gray;
}

/* Contact section code start hare  */


.contact-container{
    width: 1000px;
    margin: auto;
    padding-bottom: 100px;
}


.form-parent{

    background-color: #EAECF0 ;
    display: flex;
}
.fullname-email-parent{
    display: flex;
}

.fullname-email-parent input {
    width: 200px;
    height: 40px;
    margin: 0px 20px;
    border: none;
    padding: 0 10px;
}

.fullname-email-parent h4{
    margin: 40px 20px 10px 20px;
}

.subject-input-text{
    margin: 20px 20px 10px 20px;
}

.from-tag{
    width: 600px;
}

.subject-input{
    width: 85%;
    height: 40px;
    margin: 0 20px;
    border: none;
    padding: 0 10px;
}

.form-text-area{
    width: 85%;
    height: 100px;
    margin: 0 20px;
    padding: 5px 10px;
    border: none;
}

.from-button{
    background-color: #3252AF;
    color: white;
    padding: 10px ;
    border-radius: 5px;
    border: none;
    margin: 20px 0 0 20px;
}

.from-addres-parent{

    display: flex;
    padding-top:50px ;
    justify-content: space-between;


    
}

.frome-single-addres{
    text-align: center;

}

.frome-single-addres i {
    width: 15px;
    height: 15px;
    text-align: center;
    background-color: #142e7e;
    color: white;
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.frome-single-addres span {

    font-weight: bold;
}


/* footer-container section start hare  */

.footer-container{
     
    width: 1000px;
    margin: auto;
}

.footer-singelitem-parent{

    display: flex;
    justify-content: space-between;
}

.footer-singelitem{
    width: 220px;
    overflow: hidden;
    
}

footer{
    background-color: #072788;
    color: gray;
}

.footer-singelitem h3{
    color: white;
    margin: 50px 0 20px 0;
}

.footer-firstDiv-p1{
    margin-bottom: 20px ;
}

.first-Dive-p2{
    margin: 10px 0;
}


.footer-singelitem i {

    color: white;
}

.footer-singelitem-parent .footer-singelitem:nth-child(2) p{
    margin: 10px 0;
}

.footer-singelitem-parent .footer-singelitem:nth-child(3) p{
    margin: 10px 0;
}

.footer-singelitem-parent .footer-singelitem:nth-child(4){

    margin: 10px 0;
}

.footer-singelitem-parent .footer-singelitem:nth-child(4) a{

    text-decoration: none;
    color: brown;
}

.footer-menuItem ul{
        display: flex;
        justify-content: center;
        

}


.footer-menuItem ul li {

    list-style: none;
    margin: 20px;


}

.footer-menuItem ul li a {

            text-decoration: none;
            font-size: 20px;
            font-weight: bold;
            color: gray;
}

.footer-menuItem p {
    text-align: center;
    padding-bottom: 20px;
    
}

.footer-menuItem span {
    color: brown;
}

hr{
    margin-top: 40px;
}